<h1>Lists of Movies</h1>

<div class='row center'>
    <%= link_to "Show all", root_path %>
</div>

<div class="row">

<%= form_tag("/", method: "get", class: "col s12") do %>
<div class="row">
    <div class="input-field col s6">
          <%= text_field_tag(:search , "", class:"validate") %>
          <label for="last_name">Search</label>
          <%= submit_tag("Search", class: "waves-effect waves-light btn") %>
          <br></br>
    </div>
</div>
    
</div>


<% end %>

</div>


<div class="row">

<% @listings.each do |t| %>
    <div class="col s2"><span>
        <%= link_to image_tag(t.cover, size: "150x150"), listing_path(t) %>
    </span>
    <br><%= t.title %></br>
    </div>
<% end %>

</div>

